body {
  font-family: "Inter Tight", sans-serif;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1920px;
  padding-left: 60px;
  padding-right: 60px;
}

.header {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 468px;
  position: relative;
}

.logo-box {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #0a0f13;
  position: absolute;
  width: 198px;
  height: 36px;
  top: 24px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.arow-right-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  right: 60px;

  z-index: 999;
}

.arow-left-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 60px;

  z-index: 999;
}

.clover-btn {
  position: static;
  z-index: 99;
}

.swiper {
  position: relative;
  width: 100%;
}

.swiper-slide {
  display: flex;
  width: 100%;
  height: 468px;
  padding: 191px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.slide-1 {
  background-image: url(../images/bg-slider-1.jpg);
}

.slide-2 {
  background-image: url(../images/bg-slider-2.jpg);
}
.slider-header {
  text-align: center;
  height: fit-content;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0 auto;

  color: #eff3f5;
}

/* __SECTION-OBJECTS__ */

.section-objects {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-objects-title {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #0a0f13;
  margin-bottom: 40px;
}

.obj-type-selection-list {
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}

.obj-type-item {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.obj-type-item:hover {
  cursor: pointer;
}

.obj-card-container {
  max-width: 1800px;
  display: flex;
  column-gap: 240px;
  row-gap: 100px;
  flex-wrap: wrap;
}

.obj-card {
  position: relative;
  width: 440px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.obj-card-pin-container {
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  padding: 16px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 0 0 #e1e4e6;
  background: white;
}

.obj-card-icon-pin {
  position: absolute;
  top: 0;
  right: 0;
}

.obj-card-content-wrapper {
  background: #eff3f5;
  padding: 20px 12px;
  width: 100%;
  border-left: 1px solid rgba(168, 168, 168, 0.2);
  border-right: 1px solid rgba(168, 168, 168, 0.2);
  border-top: 1px solid rgba(168, 168, 168, 0.2);
}

.card-header {
  width: 100%;
  background: #eff3f5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.obj-card-header-year {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.obj-card-header-type {
  border: 1px solid #a8a8a8;
  border-radius: 1000px;
  padding: 4px 8px;
}

.obj-card-image:hover {
  scale: 1.1;
}

.obj-card-obj-title {
  margin: 12px 0 28px 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.obj-card-obj-adress {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #0a0f13;
  margin-bottom: 28px;
}

.obj-card-text {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #0a0f13;
}

.obj-card-tags-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.tag-item {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #737373;
  border: 1px solid rgba(168, 168, 168, 0.2);
  border-radius: 1000px;
  padding: 4px 8px;
}

.obj-card-bottom-vector {
  display: block;
  width: 100%;
  height: 32px;
}

.load-more-btn {
  background-color: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #0a0f13;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  padding: 0;
  gap: 12px;
  border: 0;
  border-bottom: 1px solid black;
}

/* __FOOTER__ */

.footer {
  background: white;
  margin: 0 auto;
  max-width: 1920px;
  height: 680px;
  display: flex;
}

.footer-contacts {
  padding: 52px 0 97px;
  width: 970px;
}

.footer-contacts-header {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #0a0f13;
  margin-bottom: 80px;
}

.footer-contacts-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 80px;
  column-gap: 40px;
}

.footer-contacts-subheader {
  font-style: normal;
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.footer-contacts-main-office {
  display: flex;
  flex-direction: column;
}

.footer-email-link {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.footer-googlemaps-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  margin-top: 41px;
  color: #eff3f5;
  border-radius: 100px;
  padding: 0 20px;
  width: 223px;
  height: 46px;
  background: #0a0f13;
  letter-spacing: -0.02em;
}

.footer-social-link-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.footer-tel-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-tel-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-tel-link {
  font-style: normal;
  width: 160px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.footer-tel-department {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #737373;
}

.footer-images {
  position: relative;

  display: flex;

  width: 830px;
  height: 680px;
}

.footer-main-image {
  border-radius: 50%;
  margin-right: -530px; /* від’ємний відступ створює накладання */
  z-index: 2;
}

.footer-bg-image {
  z-index: 1;
}

.footer-images-header {
  position: absolute;
  top: 50px;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: -0.04em;
  z-index: 3;
  color: #eff3f5;
  mix-blend-mode: exclusion;
}
.footer-images-subheader {
  position: absolute;
  bottom: 50px;
  right: 150px;
  font-size: 96px;
  font-weight: 400;
  letter-spacing: -0.04em;
  z-index: 3;
  color: #eff3f5;
  mix-blend-mode: exclusion;
}
